/* 상세페이지 */
header {
  background-color: #000;
}

header img {
  width: 90px;
  height: 90px;
  margin: 30px 0 20px 100px;
}

body {
  max-width: 1700px;
  margin: 0 auto;
  background-color: #000;
}

.sub_page {
  padding: 0 100px 100px;
  background-color: #000;
}
.sub_page .movie_info {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  border-bottom: 1px solid #1b1c1d;
}
.sub_page .movie_info .text_wrap {
  width: 1000px;
}
.sub_page .movie_info .title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.sub_page .movie_info .info_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_page .movie_info .info_list {
  display: flex;
  margin-top: 25px;
  padding-bottom: 20px;
}
.sub_page .movie_info .info_list > li {
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  color: #babac1;
}
.sub_page .movie_info .info_list > li:not(:first-child) {
  padding-left: 10px;
  margin-right: 10px;
}
.sub_page .movie_info .info_list > li:not(:first-child)::before {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #babac1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sub_page .movie_info .like_btn {
  width: 32px;
  height: 32px;
  background: url('../asset/ic_heart_off_24.svg') no-repeat center / 100%;
}
.sub_page .movie_info .like_btn.on {
  background-image: url('../asset/ic_heart_on_24.svg');
}
.sub_page .movie_info .desc {
  margin-top: 10px;
  font-size: 15px;
  color: #84868d;
  letter-spacing: 0px;
  line-height: 22px;
}
.sub_page .movie_info .btn_box {
  margin-top: 20px;
}
.sub_page .movie_info .btn_box button {
  font-size: 15px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.sub_page .movie_info .btn_box > button {
  font-size: 15px;
  font-weight: 500;
  background-color: #000;
}
.sub_page .movie_info .btn_box > .btn_two {
  margin-top: 30px;
}
.sub_page .movie_info .btn_box .btn_pink {
  border-radius: 4px;
  background-color: #f82f62;
  padding: 10px 30px;
}
.sub_page .movie_info .btn_box button:not(:first-child) {
  margin-left: 10px;
}
/* .sub_page .movie_cont {
  padding: 30px 0;
} */
.sub_page .movie_cont .event_list > li {
  font-size: 15px;
  color: #babac1;
}
.sub_page .movie_cont .event_list > li:not(:first-child) {
  margin-top: 10px;
}
.sub_page .movie_cont .banner {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  background-color: #0c101b;
  border-radius: 8px;
  cursor: pointer;
}
.sub_page .movie_cont .banner img {
  display: block;
  width: 700px;
  height: 100%;
  margin: 0 auto;
}
.sub_page .movie_cont .cont_info {
  margin: 40px auto 0px;
}
.sub_page .movie_cont .cont_item {
  margin-top: 60px;
}
.sub_page .movie_cont .title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.sub_page .movie_cont .video_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px 0;
}
.sub_page .movie_cont .video_list li {
  width: 330px;
  height: 180px;
}
.sub_page .movie_cont .video_list a {
  display: block;
  width: 330px;
  height: 180px;
}
.sub_page .movie_cont .video_list .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.image-container {
  position: relative;
}

.image-play {
  width: 100px; /* 이미지의 너비를 조정할 수 있어요. */
  height: 100px; /* 높이를 자동으로 조정하여 이미지 비율을 유지합니다. */
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: 1; /* 위에 위치할 이미지는 z-index를 조절해서 다른 이미지 위에 표시되도록 설정할 수 있어요. */
  opacity: 0.8;
}

.sub_page .movie_cont .title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_page .movie_cont .title_area .btn_more {
  font-size: 15px;
  color: #84868d;
  text-decoration: none;
}
.sub_page .movie_cont .char_list {
  display: flex;
  flex-wrap: wrap;
}
.sub_page .movie_cont .char_list > li {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}
.sub_page .movie_cont .char_list > li img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.sub_page .movie_cont .char_list .txt_area {
  margin-left: 10px;
}
.sub_page .movie_cont .char_list .txt_area strong {
  font-size: 15px;
  color: #fff;
}
.sub_page .movie_cont .char_list .txt_area p {
  margin-top: 10px;
  font-size: 13px;
  color: #84868d;
}
.sub_page .movie_cont .review_list > li {
  display: flex;
  margin-top: 20px;
}
.sub_page .movie_cont .review_list .img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.sub_page .movie_cont .review_list .txt_area {
  margin-left: 10px;
}
.sub_page .movie_cont .review_list .txt_area strong {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.sub_page .movie_cont .review_list .txt_area span {
  width: 10px;
  height: 10px;
}
.sub_page .movie_cont .review_list .txt_area p {
  font-size: 14px;
  margin-top: 10px;
  color: #84868d;
}
.cont_item {
  color: white;
}

.movie_image_form {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* 이미지를 오른쪽 끝으로 이동시킵니다. */
}

.movie_image_form img {
  max-width: 100%; /* 이미지의 최대 너비를 설정합니다. */
  height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* review */
.show {
  display: block;
}
.review_title_cont {
  position: relative;
}
.review-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.review_btn {
  position: absolute;
  right: 15px;
  top: -4px;
  border: none;
  border-radius: 4px;
  background-color: #f82f62;
  padding: 10px 30px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.black-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.white-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.white-bg form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.white-bg form label {
  font-size: 15px;
  font-weight: 700;
  color: #1b1c1d;
}
.white-bg form label,
input {
  padding-top: 5px;
  margin: 5px 0;
}
.white-bg form input {
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.white-bg form textarea {
  height: 30vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
#saveBtn,
#cancelBtn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#saveBtn {
  background-color: #f82f62;
  color: white;
  font-size: 15px;
}
.white-bg h2 {
  font-size: 20px;
  font-weight: 700;
}

.white-bg h2,
label {
  color: #000;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

.review-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 10vh;
  overflow: auto;
}
.review-author {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  margin-bottom: 5px;
}

.review-content {
  width: 30vw;
  color: rgb(132, 134, 141);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  margin: 4px 0px;
}

.review-edit-btn,
.review-delete-btn {
  cursor: pointer;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  border: none;
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  filter: brightness(0) invert(1);
}

.review-edit-btn {
  background-image: url('../asset/pencil-fill.svg');
}

.review-delete-btn {
  background-image: url('../asset/trash-fill.svg');
}

.review-button-div,
.password-input,
.confirm-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.review-content-cont {
  margin-top: 20px;
}

.review-list .password-input {
  width: 200px;
  height: 6px;
  margin-top: 35px;
}

.confirm-btn {
  width: 7vw;
  height: 30px;
  text-align: center;
  margin-top: 35px;
  cursor: pointer;
}

.edit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.edit-author,
.edit-content,
.edit-update-btn {
  margin-left: 10px;
}

.edit-author {
  padding: 9px;
}
.edit-content {
  resize: none;
}

.edit-update-btn {
  cursor: pointer;
  padding: 9px;
}

/* footer */
.footer {
  background-color: #262626;
  color: #6e6d6d;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}

.footer-info-box,
.footer-links {
  text-align: left;
}

.footer-logo {
  width: 70px;
  margin: 20px;
}
.team-list,
.footer-info-box p {
  margin-left: 30px;
}

.team-list {
  padding: 0;
  display: flex;
  margin-bottom: 10px;
  justify-content: start;
  white-space: nowrap;
}

.team-list li {
  margin-right: 30px;
  white-space: nowrap;
}

.footer-links img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-right: 10px;
}
